* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #312e2b;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  background: #eec99d;
  border: 1rem solid #84380f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.55), 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.row-1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.row-1 > :nth-child(even) {
  background: #c06937;
}
.row-1 > :nth-child(odd) {
  background: #eec99d;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.row-2 > :nth-child(even) {
  background: #eec99d;
}
.row-2 > :nth-child(odd) {
  background: #c06937;
}

.cell {
  height: 60px;
  width: 60px;
}

#pawn-white-5 {
  animation: e4 0.1s linear 1s 1 forwards;
}

#pawn-black-5 {
  animation: e5 0.1s linear 2s 1 forwards;
}

#queen-white-1 {
  animation: Qf3-Qxg7 4s linear 3s 1 forwards;
}

#knight-black-1 {
  animation: Nc6 0.1s linear 4s 1 forwards;
}

#bishop-white-2 {
  animation: Bc4 0.1s linear 5s 1 forwards;
}

#pawn-black-4 {
  animation: d6 0.1s linear 6s 1 forwards;
}

#pawn-black-6 {
  animation: x 0.1s linear 7s 1 forwards;
}

#king-black-1 {
  animation: check 0.1s linear 7s 1 forwards;
}

@keyframes e4 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 120px);
  }
}
@keyframes e5 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -120px);
  }
}
@keyframes Nc6 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-60px, -120px);
  }
}
@keyframes Bc4 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(180px, 180px);
  }
}
@keyframes d6 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -60px);
  }
}
@keyframes x {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
@keyframes Qf3-Qxg7 {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(-120px, 120px);
  }
  95% {
    transform: translate(-120px, 120px);
  }
  100% {
    transform: translate(-120px, 360px);
  }
}
@keyframes check {
  to {
    height: 60px;
    background: #f6685e;
  }
}
/* Smartphones */
@media only screen and (max-width: 500px) {
  .cell {
    height: 40px;
    width: 40px;
  }

  #pawn-white-5 {
    animation: e4 0.1s linear 1s 1 forwards;
  }

  #pawn-black-5 {
    animation: e5 0.1s linear 2s 1 forwards;
  }

  #queen-white-1 {
    animation: Qf3-Qxg7 4s linear 3s 1 forwards;
  }

  #knight-black-1 {
    animation: Nc6 0.1s linear 4s 1 forwards;
  }

  #bishop-white-2 {
    animation: Bc4 0.1s linear 5s 1 forwards;
  }

  #pawn-black-4 {
    animation: d6 0.1s linear 6s 1 forwards;
  }

  #pawn-black-6 {
    animation: x 0.1s linear 7s 1 forwards;
  }

  #king-black-1 {
    animation: check 0.1s linear 7s 1 forwards;
  }

  @keyframes e4 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, 80px);
    }
  }
  @keyframes e5 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, -80px);
    }
  }
  @keyframes Nc6 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-40px, -80px);
    }
  }
  @keyframes Bc4 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(120px, 120px);
    }
  }
  @keyframes d6 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, -40px);
    }
  }
  @keyframes x {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes Qf3-Qxg7 {
    0% {
      transform: translate(0, 0);
    }
    5% {
      transform: translate(-80px, 80px);
    }
    95% {
      transform: translate(-80px, 80px);
    }
    100% {
      transform: translate(-80px, 240px);
    }
  }
  @keyframes check {
    to {
      height: 40px;
      background: #f6685e;
    }
  }
}

/*# sourceMappingURL=main.css.map */
