@mixin block-color($light, $dark) {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  & > :nth-child(even) {
    background: $light;
  }

  & > :nth-child(odd) {
    background: $dark;
  }
}
