@use "./" as *;

@include resetter;

body {
  background: $page-color;
}

main {
  display: grid;
  height: 100vh;
  grid-gap: 0;
  grid-template-rows: 40px auto;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
}

.grid-container {
  display: grid;
  background: $block-light;
  border: 1rem solid $chess-border;
  @include custom-shadow;
}

.row-1 {
  @include block-color($block-dark, $block-light);
}

.row-2 {
  @include block-color($block-light, $block-dark);
}

@include block-size($cell-default);

@include media-query;
