@use './' as *;

@include resetter;

body {
  background: $page-color;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  background: $block-light;
  border: 1rem solid $chess-border;
  @include custom-shadow;
}

.row-1 {
  @include block-color($block-dark, $block-light);
}

.row-2 {
  @include block-color($block-light, $block-dark);
}

.cell {
  width: 60px;
  height: 60px;
}