* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #212121;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  background: white;

  & > :nth-child(even){
    background: black;
  }
}