@use 'animation' as *;

$smartphone-max: 500px;
$tablet-min: 501px;
$tablet-max: 768px;

$cell-default: 60px;
$cell-smartphone: 40px;

@mixin block-size($size) {
  .cell {
    height: $size;
    width: $size;
  }
}

@mixin media-query {
  /* Smartphones */
  @media only screen and (max-width: $smartphone-max) {
    @include block-size($cell-smartphone);
    @include my-animation($cell-smartphone);
  }
}
